# Ignorar histórico de arquivos
__history/
dataaccess/__history/
views/__history/
models/__history/
controllers/__history/
win64/dcus/
Win64/Debug/PedidosWK_EraldoJr.exe
Win64/Debug/PedidosWK_EraldoJr.rsm